:root {
    --main-color: #212121;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
  }
  
  .hotspot-container {
    position: absolute;
    position: absolute;
    bottom: 14px;
    z-index: 3;
  }
  
  .hotspot {
    margin-top: -8px;
    margin-left: -15px;
    position: absolute;
    width: 30px;
  }
  
  .play-pause {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    top: 0;
    opacity: 0;
    transition: .3s;
  }
  
  .play-pause:hover {
    opacity: 1;
  }
  
  .play-pause .button {
    width: 100px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  
  .play-pause .button__bg {
    fill: #ffffff;
  }
  
  .play-pause .button__icon {
    fill: #000000;
  }
  
  .play-pause .hide {
    opacity: 0;
    pointer-events: none;
  }
  
  .seeker {
    position: relative;
    width: 100%;
    height: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .seeker__line {
    position: absolute;
    width: inherit;
    height: inherit;
  }
  
  .seeker__knob {
    width: 15px;
    height: 15px;
    background-color: #CAEBF2;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 2;
  }
  
  .seeker__line--bg {
    background-color: #cccccc;
    border-radius: 5px;
  }
  
  .seeker__line--mover {
    background-color: rgba(13, 13, 13, 0.5);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: top left;
  }
  
  .seeker__line--current {
    transform: scaleX(0);
    transform-origin: top left;
    background-color: #CAEBF2;
  }
  
  .star {
    width: 100%;
    fill: var(--main-color);
    cursor: pointer;
    z-index: 1;
  }
  
  .timer {
    background-color: #000000;
    color: #ffffff;
    width: auto;
    padding:10px;
    font-family: "Questrial" sans-serif;
    border-radius:25px;
    position: absolute;
    top: -18px;
    font-size: 11px;
    text-align: center;
  }
  
  .timer--hide {
    opacity: 0;
  }
  
  .tool-tip {
    padding: 10px 10px 0 10px;
    background-color: var(--main-color);
    width: 200px;
    position: absolute;
    border-radius:10px;
    pointer-events: none;
    left: -4px;
    top: -100%;
    opacity: 0;
    color: #ffffff;
    transform-origin: left bottom;
    transform: rotate(20deg) translate(-39%, -93%);
    transition: 0.6s 0.1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .tool-tip__image {
    background-color: aliceblue;
  }
  
  .tool-tip__description {
    padding: 10px 0;
    margin: 0;
  }
  
  .tool-tip::after {
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--main-color);
    top: 99.5%;
    position: absolute;
    left: 0;
  }
  
  .player {
    width: 80%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
  }
  
  .video-container {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .video {
    width: 100%;
  }
  
  .seeking-overlay {
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: block;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: .2s;
  }
  
  .seeking-overlay--show {
    opacity: 1;
  }
  .app{
      background-color: #212121;
  }