body {
  background-color: lightblue;
}

@media screen and (min-width: 360px) {
  body {
    font: 14px/22px "Lato", Arial, sans-serif;
    background: lightgreen;
  }
  .brandname{
    font-family:Ultra;
    letter-spacing:0px;
    font-size:14;
  }
  .container {
    width: 100%;
    padding-top:-10px;
  }
  .linkpadding1{
    padding-right: 5px;
  }
  .linkpadding{
    display: none;
  }
  .heighthead{
      height: 56px;
  }

    nav {   
      .navbar-left {
        float: left;
        padding-left:0px; 
        display:none;
      }
    
      .navbar-right {
        float: right;
      }
    .container-right{
      margin: -10px;
    }
    .logo{
       display:block;
    }
  }
}

@media screen and (min-width: 800px) {
  $main-color: #6394F8;
  $light-text: #ABB0BE;
  
  @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
  
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
  
  *, *:before, *:after {
    box-sizing: border-box;
  }  
body {
  font: 14px/22px "Lato", Arial, sans-serif;
  background: #F4F4F4;
}

.heighthead{
  height: 52;
  margin-bottom:5px; 
}

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: $main-color;
}

.example2 {
  float: right;
  height:60px;
  position: relative;
  margin-right: 130px;
  background: rgb(202,235,242);
  border-radius: 4px;
  padding: 10px 40px;

}
.brandname{
  font-family:Ultra;
  letter-spacing:0px;
  font-size:24;
}
.linkpadding{
  padding-right: 15px;
  display: inline-block;
}
.linkpadding1{
  padding-right: 15px;
}
.spinhead{
  position:relative;
  width:100%;
  background:linear-gradient(to right, #FFE8E8, #CAEBF2);
  height:auto;
}

nav {
  padding: 20px 0 30px 0;
  background:white;
  font-size: 16px;
  height:30px;

  .logo{
    display:none;
 }

  .navbar-left {
    float: left;
    display: block;
  }

  .navbar-right {
    float: right;
  }
.container-right{
  margin: -10px;
}
.brand{
  margin-top:-5px;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0px;
  text-decoration: none;
  padding-left: 10px;
  border-radius:5rem;
  display:block;
}

  ul {

    li {
      display: inline;
      padding-left: 20px;
      a {
        color: #777777;
        text-decoration: none;

        &:hover {
          color: black;
        }
      }
    }
  }
}


}
